<div class="jumbotron">
  <h1>Tutorials</h1>

  <p>
    This tutorial explains in great detail how I built my solution. It's split up into three levels. In the first, I dive into the HTTP server code and describe sockets and the HTTP protocol. The second level is about building a minimal MVC framework from which we can build our web app including database interaction. Finally, I'll explain my process of implementing features such as commenting, liking, pagination and more.
  </p>
</div>

<h2>Who is this tutorial for?</h2>

<p>Junior web developers from beginning to intermediate who want to gain a foundational understanding of how web apps work and how frameworks are built. We'll dive deep into common web technologies and peel back the "magic" that frameworks like Rails offer us. We'll learn how to talk to TCP sockets, the database, and render dynamic views via a simple routing mechanism.</p>

<p>I'll describe object by object and each line of code how and why I implemented this web app from scratch including all the user facing features you see here. From the minimal CMS used to author each tutorial page to the full text search at the top. Each page is written independently of the others so feel free to jump around or otherwise start at <a href="/tutorials/writing-an-http-server">the beginning</a>. </p>