<%= render_template @page.body %>

<% if current_user.admin? %>
  <hr>
  <a href="/pages/<%= @page.id %>/edit" class="btn btn-primary">
    <span class="fa fa-edit"></span>
    Edit Page
  </a>
<% end %>