<div class="jumbotron">
  <h1>Submissions</h1>

  <p>
    Submit your own solutions! The Kwipper Challenge is great for web developers who are just starting out and even for those who have been developing for a few years. It's a great opportunity to learn the underpinnings of the technologies we use and get feedback on your progress as well as flaunt your skills.
  </p>
</div>

<h2>Coming Soon</h2>